<div class="login-area">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <input [(ngModel)]="registerRequset.name" [ngModelOptions]="{standalone: true}" type="text"
          placeholder="Name" />
        <input [(ngModel)]="registerRequset.email" [ngModelOptions]="{standalone: true}" type="email"
          placeholder="Email" />
        <input [(ngModel)]="registerRequset.phone" [ngModelOptions]="{standalone: true}" type="text"
          placeholder="Phone" />
        <input [(ngModel)]="registerRequset.password" [ngModelOptions]="{standalone: true}" type="password"
          placeholder="Password" />
        <button (click)="register()">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Sign in</h1>
        <input [(ngModel)]="loginRequset.email" [ngModelOptions]="{standalone: true}" type="email"
          placeholder="Email" />
        <input [(ngModel)]="loginRequset.password" [ngModelOptions]="{standalone: true}" type="password"
          placeholder="Password" />
        <button (click)="login()">login</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">login</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
